<%= render 'pages/home' unless user_signed_in? %>
<div class="container">
  <% @fud_entries.each do |fud_entry| %>
    <div class="box panel panel-default" style="padding:10px;">
    <div class="container">
      <div class="panel-body"><blockquote style="margin-bottom: 0; font-family: Helvetica;"><%= fud_entry.fud %></blockquote>
        <small><% if fud_entry.user_id != 0 %>
          Posted by <em><%= fud_entry.user.email %></em>
        <% else %>
          Posted by <em>Anonymous</em>
        <% end %>
        <%= time_ago_in_words(fud_entry.created_at) %> ago.
        </small>
        </div>
        <% if fud_entry.user == current_user %>
          <%= link_to 'Edit', edit_fud_entry_path(fud_entry), :class => "btn btn-success btn-xs" %>
        <% end %>

        <% if fud_entry.user == current_user %>
          <%= link_to 'Delete', fud_entry, method: :delete, data: { confirm:'Are you sure you want to delete?' }, :class => "btn btn-danger btn-xs" %>
        <% end %>

        <% if fud_entry.user_id == 0 %>
          <%= link_to 'Delete', fud_entry, method: :delete, data: { confirm:'Anonymous FUD may make others uncomfortable, so everyone has the option to delete it. Delete?' }, :class => "btn btn-danger btn-xs" %>
        <% end %>
        
          <% if current_user.voted_up_on? fud_entry %>
            <%= link_to 'Unlike', unlike_fud_entry_path(fud_entry), method: :put, :class => "btn btn-primary btn-xs" %>
               <span class="badge"><%= fud_entry.get_upvotes.size %></span> 
          <% else %>
            <%= link_to 'Like', like_fud_entry_path(fud_entry), method: :put, :class => "btn btn-primary btn-xs" %>
              <span class="badge"><%= fud_entry.get_upvotes.size %></span> 
          <% end %>
      </div>
    </div>
  <% end %>
</div>
